<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
   --> 
    <connectionStrings>
      <add name="LtLDbContext"
        connectionString="Server=60d4ba0d-0dae-4945-b22b-a3480119ccd8.sqlserver.sequelizer.com;Database=db60d4ba0d0dae4945b22ba3480119ccd8;User ID=orvyqvwwzpbpyzfs;Password=Upcob4fErAxKAskPmx7VAHYFVzPRE5LuZjCzwX5NJuPkBrAKyvxG6yqkyDAHnwau;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>