<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
   --> 
    <connectionStrings>
      <add name="LtLDbContext"
        connectionString="Server=f1c4a80e-05fa-4c5a-8745-a34c014b9e48.sqlserver.sequelizer.com;Database=dbf1c4a80e05fa4c5a8745a34c014b9e48;User ID=jcwogmbjushadken;Password=5BQgMdfaB4UxYtdX6SRuYLsqr32bQd4o6Mob8czta2ftRMEBPAexPWQrjzWSjdry;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>