@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     The Equipment Distribution Training Aid was developed to help train Marine squad
	leaders to make smart decisions on what equipment to take on a mission and which 
	squad members to give it to. This is done in a way that encourages a lighter load
	and helps to retain experiential field knowledge that would otherwise be lost.
</p>