@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h3>Virtual Soldier Research</h3>
<span><a href="http://www.ccad.uiowa.edu/vsr/">http://www.ccad.uiowa.edu/vsr/</a></span>

<h3>Program Manager: Tim Marler</h3>
<span><a href="mailto:tmarler@engineering.uiowa.edu">tmarler@engineering.uiowa.edu</a></span>

<h3>Developers</h3>
<span>Brian Chau</span><br />
<span>Meredith Godar</span><br />
<span>Ben Goerdt</span><br />
<span>Melanie Kneisel</span><br />
<span>Gunnar Mills</span>