@{
    ViewBag.Title = "VSR Lighten the Load";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

<div id="content_box_1" class="content_box">
	<table style="border:none;">
		<tr>
			<td style="width:20%; border:none; background:none"><img height="auto" width="100%" align="middle" src="~/Content/images/MilitaryIcon.png" style="margin-right:3px" /></td>
			<td style="width:60%; border:none; background:none"><h2>Equipment Distribution <br /> Training Aid</h2></td>
			<td style="width:20%; border:none; background:none"><img height="auto" width="100%" align="middle" src="~/Content/images/VSR Logo__Final.png" style="margin-left:3px" /></td>
		</tr>
	</table>

    <ul data-role="listview" data-inset="true">
		<li class="header" style="background:none; padding-left: 3em; color:black; font-size: larger"><i>Input</i></li>
        <li><a href="/MissionParameter"><img src="~/Content/images/add-list-24.png" class="ui-li-icon">Mission Parameters</a></li>
        <li><a href="/Warfighter"><img src="~/Content/images/add-user-24.png" class="ui-li-icon">Warfighters</a></li>
    </ul>
    <ul data-role="listview" data-inset="true">
        <li class="header" style="background:none; padding-left: 3em; color:black; font-size: larger"><i>Distribute</i></li>
        <li><a href="/MissionPlan"><img src="~/Content/images/line-24.png" class="ui-li-icon">Predict Equipment</a></li>
        <li><a href="/DistributionResults/Distribute"><img src="~/Content/images/parallel-tasks-24.png" class="ui-li-icon">Distribute Equipment</a></li>
    </ul>
	<br />
	<div class="header" style="background: none; border:none; padding-left: 3em; color:black; font-size: medium"><b><i>Advanced</i></b></div>
	<ul data-role="listview" data-inset="true">
		<li><a href="/Equipment">
			<img src="~/Content/images/book-stack-24.png" class="ui-li-icon" />
			Equipment Library
		    </a></li>
	</ul>

	<div data-role="collapsible" data-collapsed="true">
		<h4>Advanced Decision Engine</h4>
		<ul data-role="listview" data-inset="true">
			<li><a href="/MissionRule"><img src="~/Content/images/ruler-24.png" class="ui-li-icon">Mission Rules</a></li>
			<li><a href="/DistributionRules"><img src="~/Content/images/flow-chart-24.png" class="ui-li-icon">Distribution Rules</a></li>
		</ul>
	</div>

	<footer style="text-align:center">
		@Html.ActionLink("About", "About", "Home")
		@Html.ActionLink("Contact", "Contact", "Home")
	</footer>
</div>