div.Header
{
    background-color:#990000;
    color:#e7dbcb;
    text-shadow: none;
    border-color: #35332b;
    border-style: solid;
    padding: 3px 7px 2px 7px;
    margin-top: 10px;
    text-align:center;
}

div.content_box
{
    background-color:#e7dbcb;
    color:black;
    border-color: #35332b;
    border-style:solid;
    padding:3px 7px 2px 7px;
}
