@model MissionPlanningWebApp.Models.MissionPlan

@{
    ViewBag.Title = "Details";
}

@section FormattedTable{
    <link href="~/Styles/TableFormat.css" rel="stylesheet" />
}

<h2>Suggested Mission Equipment</h2><br />

<fieldset>
    <div class="display-label">
         <b>Number of Warfighters: </b>@Html.DisplayFor(model => model.NumberOfWarfighters)
    </div>
    <div class="display-label">
         <b>Total Weight of Equipment: </b>@Html.DisplayFor(model => model.TotalWeightOfEquipment)
    </div>

    <table>
        <tr>
            <th>Equipment</th>
            <th>Number</th>
        </tr>
    @foreach (var equip in Model.EquipmentList)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => equip.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(model => equip.Value)
            </td>
        </tr>
    }
    </table>
</fieldset>
